* {
 box-sizing: border-box;
 margin: 0;
 top: 0;
 
}

h1{
 padding: 20px;
 text-align: center;
}
body{
 background-color: rgb(89,114,78);
 height: 100vh;
 margin:0;
 display: flex;
 flex-direction: column;
}

.container{
 margin: auto;
 padding: 20px;
 width: 600px;
 height: 600px;
 background-color:rgb(77, 98, 67);
 border: 5px solid black;
 border-radius: 15px;
 box-shadow: 3px 3px 3px black;
}

p{
 font-size: 25px;
 font-family: 'Courier New', Courier, monospace;

}
input,label{
 font-size: 25px;
 font-family: 'Courier New', Courier, monospace;
 
}

.submitFibonacci, .resetFibonacci{
 background-color: rgb(89,114,78);
}

#footer{
 background-color:rgb(77, 98, 67) ;
margin-top: auto;
 font-size: 20px;
 display: flex;
 gap: 10px;
 padding: 5px;
 height: 50px;
 justify-content: center;
}
#footer a{
 color: black;
 text-decoration: none;
 transition: transform 0.3s ease-in-out;
}

#footer a:hover{
 transform: rotate(10800deg) scale(1.2);
}

@media only screen and (max-width: 600px) {
 .container{
  margin: auto;
  padding: 20px;
  width: 300px;
  height: 400px;
  background-color:rgb(77, 98, 67);
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
 }
 
 p{
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
 
 }
 input,label{
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  
 }
}